.register-container{
    padding: 6rem;
    display: flex;
    flex-direction: column;
}

.username-container
.email-container
.password-container
.retype-password-container{
        display: flex;
        flex-direction: column;
    }


.input-username
.input-first-name
.input-surname
.input-email
.input-password{
    row-gap: 4rem;
    margin-left: 5rem;
    margin-top: 5rem;
}

.button-register{
    border: 1px solid white;
    padding: 1rem;
    font-size: 1.5rem;
    margin-left: 6rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    font-family: cursive;
    color: whitesmoke;;
    background: var(--primary-color);
    width: 10rem;
}
