.quote__image{
    width: 500px;
    height: 300px;
    border-radius: 8px;
}

.quote__text{
    font-family: cursive;
    font-size: 1.3em;
    overflow-wrap: break-word;
}

.quote__author{
    font-family:cursive
}

.date-rating-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.2rem;
}

.quote__date{
    position: relative;
    color: whitesmoke;
    font-family: cursive;
    margin-right: 10rem;
}

.quote__rating{
    position: relative;
    color: whitesmoke;
    align-items: end;
    font-family: cursive;
}

.span{
    font-family: Times;
}

.image-container{
    position: relative;
    display: inline-block;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
}

.quote-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(00, 00, 00, .5);
    color: #fff;
    padding: 10px 5px;
    font-size: 15px;
    text-align: center;
    width: 60%;
    height: auto;
}