.quote-detail__text,
.quote-detail__author,
.quote-detail__date,
.quote-detail__rating,
.quote-detail__back_to_home
{
    color: whitesmoke;
    font-size: large;
    font-family: cursive;
    width: fit-content;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    padding: 1rem;
}

.quote-detail__container{
    display:flex;
    flex-direction: column;
    margin: 5rem;
    overflow: auto;
}

.quote-detail__image{
    width: fit-content;
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.quote-detail__title{
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    width: fit-content;
    color: whitesmoke;
    font-family: cursive;
    margin-bottom: 2rem;
    padding: 1rem;
}