.title {
    margin-left: 5rem;
    margin-top: 30px;
    font-size: larger;
    font-family: cursive;
}

.quote-list{
    margin-left: 5rem;
    display: flex;
    flex-flow: wrap;
    column-gap: 3em;
    row-gap: 3em;
    list-style-type: none;
}

.image-container{
    position: relative;
    display: inline-block;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
}

.quote-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #000000; */
    background: rgba(00, 00, 00, .5);
    color: #fff;
    padding: 10px 20px;
    font-size: 15px;
    text-align: center;
}

.quote__image{
    width: 500px;
    height: 300px;
    border-radius: 8px;
}

.quote__text{
    font-family: cursive;
    font-size: 1.3rem;
}

.quote__author{
    font-family:cursive
}

.quote__date{
    margin-left: 11rem;
}

.span{
    font-family: Times;
}

.quoteNotFoundMessage{
    font-family: cursive;
    font-size: x-large;
    margin-left: 3em;
    color: red;
}