.login-page-container {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;

}

.h1_login_page {
  align-self: center;
  margin-top: 2rem;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

fieldset {
  display: flex;
  width: fit-content;
  flex-direction: row;
  margin-bottom: 2rem;
}

label {
  width: fit-content;
  color: whitesmoke;
  margin-bottom: 0.5rem;
}

.input_email_login,
.input_password_login {
  color: whitesmoke;
  border: 1px solid white;
  padding: 1rem;
  font-size: 1.5rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  font-family: cursive;
  width: 18rem;
}

.login-button {
  border: 1px solid white;
  padding: 1rem;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  font-family: cursive;
  color: whitesmoke;
  background: var(--primary-color);
  width: 10rem;
  align-self: center;
}

.error{
  font-size: x-large;
  align-self: center;
  margin-left: 15rem;
  color: yellow;
}
