:root {
  --primary-color: #3C5F50
}

body{
  background-color: var(--primary-color);
}

h1,
h3,
h4,
h5,
h6 {
  color: whitesmoke
}

h2{
  color: whitesmoke;
}

input{
  background-color: var(--primary-color);
  border: none;
  color: whitesmoke;
}